{
    "extends": ["airbnb-base/legacy", "plugin:jest/recommended"],
    "rules": {
      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error",
      "max-len": ["error", { "code": 150 }],
      "no-global-assign": ["error", {"exceptions": ["Object"]}],
      "func-names": ["error", "never"],
      "no-param-reassign": ["error", { "props": true , "ignorePropertyModificationsFor": ["dom","state"]}],
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "jest": true
    },
    "plugins": ["jest"]
      
  }